<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="certificates" class="main.model.Certificate">
		<property name="certificates">
			<list>
				<value>JAVA/J2EE SOA</value>
				<value>Spring</value>
				<value>Presistence with Hibernate</value>
				<value>Design Patterns</value> 
			</list>
		</property>
	</bean>
	
	<bean id="candidate" class="main.model.Candidate">
		<property name="name" value="Santosh"></property>
		<property name="certificates" ref="certificates"></property>
	</bean>
</beans>
